<!DOCTYPE html>
<html lang="en">
{% include 'header/analytics_header.html' %}
<head>
       <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bootstrap Table</title>

<script src="https://cdn.anychart.com/releases/8.0.0/js/anychart-base.min.js"></script>




</head>


<body id="page-top">

    <!-- Page Wrapper -->

    <!-- End of Sidebar -->



    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">Attendance Table</h1>
        <p class="mb-4" >Table Analysis on Subject, Course, Session, Attendance and feedback with all sotring and searching with export table option

        </p>
                    <div class="row" >
 <div class="col-xl-3 col-md-6 mb-4" >
                            <div class="card border-left-success shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                 Students Present:
                                                <h1>{{present['present']}}</h1></div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800"></div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-user-graduate fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-6 mb-4" >
                            <div class="card border-left-danger shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">
                                                Students Absent:
                                                <h1>{{absent['absent']}}</h1></div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800"></div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-user-graduate fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
            </div>

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">{{course[0]['session_name']}}

                    <div class="my-2" style="float:right;">


                            <span class="icon text-white-50">
                                <i class="fas fa-check"></i>
                            </span>
                            <span class="text"></span>

                    </div>
                </h6>
            </div>


            <div class="card-body">


                <div style="float:right;">Export Data</div>
                <div class="table-responsive">



                        <table class="table table-bordered"  width="100%" cellspacing="0"   id="table"  data-pagination="True"  data-show-filter-control-switch="true" data-click-to-select="true" data-toggle="Table" data-show-export="true"  data-filter-control="true">

                            <thead>
        <tr>

            <th data-field="id" >S.No</th>
            <th data-field="name" data-sortable="True"  data-filter-control="input">Name</th>
            <th data-field="grade" data-sortable="True" data-filter-control="input">Grade</th>
            <th data-field="contact" data-sortable="True" data-filter-control="input">Contact</th>
            <th data-field="present"  data-sortable="True" class="col-sm-2" data-filter-control="select">Class attended</th>
            <th data-field="will"  data-sortable="True" class="col-sm-2" data-filter-control="select">Willingness</th>
            <th data-field="fd" data-sortable="True" data-filter-control="input">FeedBack</th>
            <th data-field="time" data-sortable="True" data-filter-control="input">TimeStamp</th>



        </tr>

        </thead>

                            </table>

                </div>
            </div>
        </div>

    </div>
    <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->



    </div>
    <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>








           <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.16.0/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>
<script src="https://unpkg.com/multiple-select@1.5.2/dist/multiple-select.min.js"></script>


<!--      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>-->
<!--  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>-->
<!--  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.0/bootstrap-table.js"></script>-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.9.1/extensions/editable/bootstrap-table-editable.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.9.1/extensions/export/bootstrap-table-export.js"></script>
  <script src="https://rawgit.com/hhurz/tableExport.jquery.plugin/master/tableExport.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.9.1/extensions/export/bootstrap-table-export.js"></script>

    <script src="{{url_for('static',filename='vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>

 <script>
        var data = [
        {% for row in attendance %}
        {
        "id": "{{loop.index}}",
        "name": "{{row.student_name}}",
        "grade": "{{row.student_grade}}",
        "contact": "{{row.student_contact}}",
        {% if row.satt_present == 'YES'%}
        "present":  "Present",
        {% else %}
        "present":  "Absent",
        {% endif %}

        "will": "{{row.stu_session_willingness}}",
        "fd": "{{row.stu_session_feedback}}",
        "time": "{{row.stu_session_timestamp}}",



      },
      {% endfor %}
      ];

      var $table = $('#table')

      $table.bootstrapTable({
          data: data,


          onCreatedControls () {

            $('select.bootstrap-table-filter-control-grade').each(function (index, i) {
              i.setAttribute('multiple','multiple');
              $(this).find('option[value=""]').remove();
              console.log('1');
              $(this).multipleSelect('destroy').multipleSelect({

                container: 'body',
                filter: true,
                selectAll:true

              })
            })


          }
       })





       $('button[name="clearSearch"]').click(function() {

    $('select.bootstrap-table-filter-control-grade').multipleSelect('setSelects', [])

    filterData()
  })











  function customFilter(row,filter){
  console.log('3');
    const filterCities = filter['cities']
    return filterCities.includes(row.grade)
  }




  function filterData() {
  console.log('4');
    $table.bootstrapTable('filterBy', {
      cities: $('select.bootstrap-table-filter-control-grade').multipleSelect('getSelects'),

    }, {
      'filterAlgorithm': customFilter
    })


  }






  $('select.bootstrap-table-filter-control-grade').change(function () {
  console.log('5');
    filterData()
  })
</script>
<script>
    anychart.onDocumentReady(function() {

    // set the data
    var data = {
      header: ["Status", "Numbers"],
      rows: [
        ["Present ", 13],
        ["Absent ", 23],

    ]};

    // create the chart
   var chart = anychart.bar();

    // add data
    chart.data(data);

    // set the chart title
    chart.title("Attendance status for this session");


  // draw
  chart.container("container");
  chart.draw();
});

</script>


</body>

</html>
