<!DOCTYPE html>
<html lang="en">
{% include 'header/analytics_header.html' %}
<head>
       <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bootstrap Table</title>






</head>


<body id="page-top">

    <!-- Page Wrapper -->

    <!-- End of Sidebar -->



    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">Session Table</h1>
        <p class="mb-4" >Table Analysis on Subject, Course, Session, Attendance and feedback with all sotring and searching with export table option

        </p>

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
<!--            <div class="card-header py-3">-->
<!--                <h6 class="m-0 font-weight-bold text-primary">-->

<!--                    <div class="my-2" style="float:right;">-->
<!--                        <h6>-->
<!--                            <span class="icon text-white-50">-->
<!--                                <i class="fas fa-check"></i>-->
<!--                            </span>-->
<!--                            <span class="text"></span>-->
<!--                        </h6>-->
<!--                    </div>-->
<!--                </h6>-->
<!--            </div>-->
            <div class="card-body">

                <div style="float:right;">Export Data</div>
                <div class="table-responsive">


                        <table class="table table-bordered"  width="100%" cellspacing="0"  data-show-export="true"  id="subject"  data-pagination="True"  data-show-filter-control-switch="true" data-click-to-select="true" data-toggle="Table" data-filter-control="true">

                            <thead>
        <tr>

            <th data-field="id" >S.No</th>
            <th data-field="city" data-sortable="True" data-filter-control="select">Course Name</th>
            <th data-field="age" data-sortable="True" data-filter-control="select">Session Name</th>
             <th data-field="fname" data-sortable="True" data-filter-control="select">Faculty Name</th>
<th data-field="status" data-sortable="True" data-filter-control="select">Status</th>
 <th data-field="date" data-sortable="True" >Date</th>
            <th data-field="start" data-sortable="True" >Start Time</th>
              <th data-field="end" data-sortable="True" >End Time</th>
<th data-field="action" data-sortable="True"  >Action</th>
<!-- <th data-field="desc" data-sortable="True">Session Description</th> -->
            <th data-field="link" data-sortable="True">Go to attendance</th>
        </tr>

        </thead>

                            </table>

                </div>
            </div>
        </div>

    </div>
    <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->



    </div>
    <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>








           <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.js"></script>

<script src="https://unpkg.com/multiple-select@1.5.2/dist/multiple-select.min.js"></script>


<!--      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>-->
<!--  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>-->
<!--  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.0/bootstrap-table.js"></script>-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.9.1/extensions/editable/bootstrap-table-editable.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.9.1/extensions/export/bootstrap-table-export.js"></script>
  <script src="https://rawgit.com/hhurz/tableExport.jquery.plugin/master/tableExport.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.9.1/extensions/export/bootstrap-table-export.js"></script>
  <script src="https://unpkg.com/bootstrap-table@1.16.0/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>
    <script src="{{url_for('static',filename='vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
    <script type="text/javascript" src="https://cdn.ckeditor.com/4.5.11/standard/ckeditor.js"></script>

 <script>
        var data = [
        {% for row in session %}
        {
        "id": "{{loop.index}}",
        "city": "{{row.course_name}}",
        "age": "{{row.session_name}}",
          "fname": "{{row.faculty_name}}",

        "date": "{{row.session_date}}",
        "start": "{{row.session_starttime}}",
        "end": "{{row.session_endtime}}",
          "status": "{{row.session_status}}",
 "desc": "{{row.session_discription.html}}",
         "action":"<a type='button' name='view' value='view' id='{{row.session_id}}' class='btn btn-primary btn-xs view_data'><i class='fas fa-pencil-alt' style='color:white;'></i></a>  ",
 "link":"<a href={{url_for('attendance',b=row.session_id)}}><i class='fas fa-arrow-circle-right'></i></a>"



      },
      {% endfor %}
      ];

      $('#subject').bootstrapTable({
          data: data,
          onCreatedControls () {

            $('select.bootstrap-table-filter-control-city').each(function (index, i) {
              i.setAttribute('multiple','multiple');
              $(this).find('option[value=""]').remove();
              $(this).multipleSelect('destroy').multipleSelect({
                container: 'body',
                filter: true,
                selectAll:true

              })
            }),

      $('select.bootstrap-table-filter-control-age').each(function (index, i) {
        i.setAttribute('multiple','multiple');
        $(this).find('option[value=""]').remove();
        $(this).multipleSelect('destroy').multipleSelect({
          container: 'body',
          filter: true,
          selectAll:true

        })
      })

          },

       })
       var $table = $('#subject')
  $table.bootstrapTable({
    data: data
  })


  $('button[name="clearSearch"]').click(function() {
    $('select.bootstrap-table-filter-control-city').multipleSelect('setSelects', [])
    filterData()
  })

window.filterCities=0,
window.filterCities1=0

  function customFilter(row,filter){
     filterCities = filter['cities']
     console.log(filterCities)
     console.log(filterCities1)
    if (filterCities1 == 0 || filterCities1 == []){
      console.log("1")
    return filterCities.length == 0 || filterCities.includes(row.city)
    }
    else if (filterCities == 0 || filterCities == []){
      console.log("12")
    return filterCities1.length == 0 || filterCities1.includes(row.age)
    }
    else{
      console.log("2")
      return filterCities1.length == 0 || filterCities1.includes(row.age) && filterCities.includes(row.city) || filterCities.length == 0
    }
  }

  function filterData() {
    $table.bootstrapTable('filterBy', {
      cities: $('select.bootstrap-table-filter-control-city').multipleSelect('getSelects')
    }, {
      'filterAlgorithm': customFilter
    })
  }

  $('select.bootstrap-table-filter-control-city').change(function () {
    filterData()
  })



  $('button[name="clearSearch"]').click(function() {
    $('select.bootstrap-table-filter-control-age').multipleSelect('setSelects', [])
    filterData1()
  })

  function customFilter1(row,filter){
     filterCities1 = filter['cities1']
     console.log(filterCities)
     console.log(filterCities1)
     if (filterCities == 0 || filterCities == []){
      console.log("1")
    return filterCities1.length == 0 || filterCities1.includes(row.age)
    }
    else if (filterCities1 == 0 || filterCities1 == []){
      console.log("12")
    return filterCities.length == 0 || filterCities.includes(row.city)
    }
    else{
      console.log("2")
      return filterCities1.length == 0 || filterCities1.includes(row.age) && filterCities.includes(row.city) || filterCities.length == 0
    }
  }

  function filterData1() {
    $table.bootstrapTable('filterBy', {
      cities1: $('select.bootstrap-table-filter-control-age').multipleSelect('getSelects')
    }, {
      'filterAlgorithm': customFilter1
    })
  }

  $('select.bootstrap-table-filter-control-age').change(function () {
    filterData1()
  })


      </script>
 <script>
    $(document).ready(function () {
$('#update_form').on("submit", function (event) {
                        event.preventDefault();

                        $.ajax({
                            url: "/admin/session/change",
                            method: "POST",
                            data: $('#update_form').serialize(),

                            beforeSend: function () {
                                $('#update').val("Updating");
                            },
                            success: function (data) {
                                $('#add_data_Modal').modal('hide');
                                if (data == 'success') {
                                    console.log('success')
                                    window.location.href = "/admin_analytics/session";
                                }
                            }
                        });

                    });

                    var editor;
    $(document).on('click', '.view_data', function () {
                        var session_id = $(this).attr("id");
                        $.ajax({
                            url: "/admin/session/select",
                            method: "POST",
                            data: {
                                session_id: session_id
                            },
                            success: function (data) {
                                $('#dataModal').modal('show');
                                var data_rs = JSON.parse(data);
                                $('#session_id').val(data_rs[0]['session_id']);

                                $('#course_name').val(data_rs[0]['course_name']);
                                $('#session_name').val(data_rs[0]['session_name']);
                                $('#faculty_name').val(data_rs[0]['faculty_name']);
                                $('#session_status').val(data_rs[0]['session_status']);
                                var date = data_rs[0]['session_date'];
                                console.log(date);
                                $('#session_date').val(data_rs[0]['session_date']);

// <!--                                if(data_rs[0]['course_approval_status']=="approved")-->
// <!--                                {   console.log(data_rs[0]['approval_status'])-->


// <!--                                    document.getElementById("coursenot").style.display = "none";-->

// <!--                                    document.getElementById("courseyes").style.display = "block";-->


// <!--                                }-->
// <!--                                else-->
// <!--                                    {-->
// <!--                                    console.log(data_rs[0]['course_approval_status'])-->

// <!--                                    document.getElementById("courseyes").style.display = "none";-->
// <!--                                    document.getElementById("coursenot").style.display = "block";-->

// <!--                                }-->


                                 var stime = data_rs[0]['session_starttime'];
                                 stime = tConvert (stime);
                                 console.log(stime);

                                $('#session_starttime').val(stime);
                                 $('#session_endtime').val(data_rs[0]['session_endtime']);
                                $('#session_discription').val(data_rs[0]['session_discription']);
                                 editor = CKEDITOR.replace( 'session_discription' );
            editor.setData($('#session_discription').val());
editor.on( 'change', function(edittor) {

$('#test').val(edittor.editor.getData());
});

                            }
                        });
                    });
                    $('#dataModal').on('hide.bs.modal', function () { 
    editor.destroy()
                                                        }); 
                   });



      </script>



    <div id="dataModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Course Details</h4>
                    <button type="button" class="close" data-dismiss="modal">×</button>

                </div>
                <div class="modal-body">
                    <div class="table-responsive">
                        <form method="post" id="update_form">
                            <table class="table table-bordered">
                                <input type="hidden" class="form-control" id="session_id" name="session_id">
                                <tr>
                                    <td width="30%"><label>Course Name</label></td>
                                    <td width="70%"><input type="text" class="form-control"  id="course_name" name="course_name" disabled></td>
                                </tr>
                                <tr>
                                    <td width="30%"><label>Session Name</label></td>
                                    <td width="70%"><input type="text" class="form-control"  id="session_name" name="session_name" ></td>
                                </tr>

                                <tr>
                                    <td width="30%"><label>Faculty Name</label></td>
                                    <td width="70%"><input type="text" class="form-control" name="faculty_name" id="faculty_name" disabled>



                                    </td>
                                </tr>
<!--                                <tr>-->
<!--                                    <td width="30%"><label>Status</label></td>-->
<!--                                    <td width="70%"><input type="type" class="form-control" name="session_status" id="session_status">-->
<!--                                    </td>-->
<!--                                </tr>-->
                                 <tr>
                                    <td width="30%"><label>Date</label></td>
                                    <td width="70%"><input type="date" class="form-control" name="session_date" id="session_date"  ></td>
                                </tr>
                                <tr>
                                    <td width="30%"><label>Start Time</label></td>
                                    <td width="70%"><select  class="form-control" name="session_starttime" id="session_starttime">

                                        <option>05:00 AM</option>
                                        <option>05:30 AM</option>
                                        <option>06:00 AM</option>
                                        <option>06:30 AM</option>
                                        <option>07:00 AM</option>
                                        <option>07:30 AM</option>
                                        <option>08:00 AM</option>
                                        <option>08:30 AM</option>
                                        <option>09:00 AM</option>
                                        <option>09:30 AM</option>
                                        <option>10:00 AM</option>
                                        <option>10:30 AM</option>
                                        <option>11:00 AM</option>
                                        <option>11:30 AM</option>
                                        <option>12:00 PM</option>
                                        <option>12:30 PM</option>
                                        <option>01:00 PM</option>
                                        <option>01:30 PM</option>
                                        <option>02:00 PM</option>
                                        <option>02:30 PM</option>
                                        <option>03:00 PM</option>
                                        <option>03:30 PM</option>
                                        <option>04:00 PM</option>
                                        <option>04:30 PM</option>
                                        <option>05:00 PM</option>
                                        <option>05:30 PM</option>
                                        <option>06:00 PM</option>
                                        <option>06:30 PM</option>
                                        <option>07:00 PM</option>
                                        <option>07:30 PM</option>
                                        <option>08:00 PM</option>
                                        <option>08:30 PM</option>
                                        <option>09:00 PM</option>
                                        <option>09:30 PM</option>
                                        <option>10:00 PM</option>
                                        <option>10:30 PM</option>
                                        <option>11:00 PM</option>
                                        <option>11:30 PM</option> </select>






                                    </td>
                                </tr>
                                <tr>
                                    <td width="30%"><label>End Time</label></td>
                                    <td width="70%"><select  class="form-control" name="session_endtime" id="session_endtime">

                                        <option>05:00 AM</option>
                                        <option>05:30 AM</option>
                                        <option>06:00 AM</option>
                                        <option>06:30 AM</option>
                                        <option>07:00 AM</option>
                                        <option>07:30 AM</option>
                                        <option>08:00 AM</option>
                                        <option>08:30 AM</option>
                                        <option>09:00 AM</option>
                                        <option>09:30 AM</option>
                                        <option>10:00 AM</option>
                                        <option>10:30 AM</option>
                                        <option>11:00 AM</option>
                                        <option>11:30 AM</option>
                                        <option>12:00 PM</option>
                                        <option>12:30 PM</option>
                                        <option>01:00 PM</option>
                                        <option>01:30 PM</option>
                                        <option>02:00 PM</option>
                                        <option>02:30 PM</option>
                                        <option>03:00 PM</option>
                                        <option>03:30 PM</option>
                                        <option>04:00 PM</option>
                                        <option>04:30 PM</option>
                                        <option>05:00 PM</option>
                                        <option>05:30 PM</option>
                                        <option>06:00 PM</option>
                                        <option>06:30 PM</option>
                                        <option>07:00 PM</option>
                                        <option>07:30 PM</option>
                                        <option>08:00 PM</option>
                                        <option>08:30 PM</option>
                                        <option>09:00 PM</option>
                                        <option>09:30 PM</option>
                                        <option>10:00 PM</option>
                                        <option>10:30 PM</option>
                                        <option>11:00 PM</option>
                                        <option>11:30 PM</option> </select></td>
                                </tr>
<!--                                <tr>-->
<!--                                    <td width="30%"><label>Course Approval Status</label></td>-->
<!--                                    <td width="70%">-->
<!--                                        <span id="courseyes" style="display: block;" class="badge badge-success">Course already approved</span>-->
<!--                                        <span id="coursenot" style="display: block;" class="badge badge-danger">Course not yet approved</span>-->
<!--                                        <br>-->
<!--                                    <select name="course_approval_status" style="visibility: visible;"  id="course_approval_status" class="form-control">-->
<!--                                        <option value="approved">Approve</option>-->
<!--                                        <option value="decline">Decline</option>-->
<!--                                </select>-->
<!--                                        </td>-->
<!--                                </tr>-->
<!--                                jnbkfjbnjfsbijgsfnibnisfngbjnkjgsninsfij-->
                                <tr>
                                    <td width="30%"><label>Course Approval Status</label></td>
                                    <td width="70%">

                                    <select name="session_status" style="visibility: visible;"  id="session_status"  class="form-control">
                                        <option value="open">OPEN</option>
                                        <option value="close">CLOSE</option>
                                </select>
                                        </td>
                                </tr>

                                <tr>
                                    <td width="30%"><label>Session Description</label></td>
                                    <td width="70%"><textarea type="text" class="form-control"  name="session_discription" id="session_discription"></textarea>
                                    </td>
                                </tr>
                                <tr>
                                  <td width="30%"><label hidden>test ..!</label></td>
                                  <td width="70%"><input type="hidden" class="form-control" name="test" id="test" />
                                  </td>
<!--                                    <textarea id="demo"></textarea>-->
                              </tr>
                            </table>
                            <div class="modal-footer">
                                <input type="submit" name="update" id="update" value="Update" class="btn btn-success" />
                                <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
                        </form>
                    </div>

                </div>
            </div>

<script>
function tConvert (time) {
  // Check correct time format and split into components
  time = time.toString ().match (/^([01]\d|2[0-3])(:)([0-5]\d)(:[0-5]\d)?$/) || [time];

  if (time.length > 1) { // If time format correct
    time = time.slice (1);  // Remove full string match value
    time[5] = +time[0] < 12 ? 'AM' : 'PM'; // Set AM/PM
    time[0] = +time[0] % 12 || 12; // Adjust hours
  }
  return time.join (''); // return adjusted time or original string
}
</script>
</body>

</html>
