<!DOCTYPE html>
<html lang="en">
{% include 'header/analytics_header.html' %}
<head>
       <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bootstrap Table</title>







</head>


<body id="page-top">

    <!-- Page Wrapper -->

    <!-- End of Sidebar -->



    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800" >Subject Table</h1>
        <p class="mb-4" >Table Analysis on Subject, Course, Session, Attendance and feedback with all sotring and searching with export table option

        </p>

        <!-- DataTales Example -->
        <div class="card shadow mb-4">

            <div class="card-body">


                <div class="table-responsive" >


                        <table class="table table-bordered"  width="100%" cellspacing="0"  data-show-export="true"
                               id="subject"  data-pagination="True"  data-show-filter-control-switch="true" data-click-to-select="true"
                               data-toggle="Table"  data-filter-control="true" >

                            <thead >
        <tr>

            <th data-field="id"  >S.No</th>
            <th data-field="name" data-sortable="True" data-filter-control="select">Name</th>
            <th data-field="email" data-sortable="True" >Description</th>
            <th data-field="gotocourse" data-sortable="True">Go To Course</th>

        </tr>

        </thead>

                            </table>

                </div>
            </div>
        </div>

    </div>
    <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->



    </div>
    <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>








           <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.16.0/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>
<script src="https://unpkg.com/multiple-select@1.5.2/dist/multiple-select.min.js"></script>


<!--      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>-->
<!--  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>-->
<!--  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.0/bootstrap-table.js"></script>-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.9.1/extensions/editable/bootstrap-table-editable.js"></script>
<!--  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.9.1/extensions/export/bootstrap-table-export.js"></script>-->

    <script src="https://rawgit.com/hhurz/tableExport.jquery.plugin/master/tableExport.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.9.1/extensions/export/bootstrap-table-export.js"></script>

    <script src="{{url_for('static',filename='vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>

 <script>
        var data = [
        {% for row in subject %}
        {
        "id": "{{loop.index}}",
        "name": "{{row.subject_name}}",
        "email": "{{row.subject_description}}",
        "gotocourse":"<a type='button'  href={{url_for('admin_analytics_one_course',a=row.subject_id)}} ><i class='fas fa-arrow-circle-right'></i></a>"


      },
      {% endfor %}
      ];

    var $table = $('#subject')

      $table.bootstrapTable({
          data: data,


          onCreatedControls () {

            $('select.bootstrap-table-filter-control-grade').each(function (index, i) {
              i.setAttribute('multiple','multiple');
              $(this).find('option[value=""]').remove();
              console.log('1');
              $(this).multipleSelect('destroy').multipleSelect({

                container: 'body',
                filter: true,
                selectAll:true

              })
            })


          }
       })





       $('button[name="clearSearch"]').click(function() {

    $('select.bootstrap-table-filter-control-grade').multipleSelect('setSelects', [])

    filterData()
  })











  function customFilter(row,filter){
  console.log('3');
    const filterCities = filter['cities']
    return filterCities.includes(row.grade)
  }




  function filterData() {
  console.log('4');
    $table.bootstrapTable('filterBy', {
      cities: $('select.bootstrap-table-filter-control-grade').multipleSelect('getSelects'),

    }, {
      'filterAlgorithm': customFilter
    })


  }






  $('select.bootstrap-table-filter-control-grade').change(function () {
  console.log('5');
    filterData()
  })





      </script>



</body>

</html>