<!DOCTYPE html>
<html lang="en">
{% include 'header/data_entry_header.html' %}
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

<body id="page-top">

    <!-- Page Wrapper -->

    <!-- End of Sidebar -->

    <!-- Content Row -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Course Registed Student Details</h1>
            <!-- <button id="export" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                    class="fas fa-download fa-sm text-white-50"></i> Generate Report</button> -->
                    <a  class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm export-btn" style="color: white;"><i
                        class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
        </div>
        <div class="row">

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    Total Student</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{count[0]}}</div>
                            </div>
                            <div class="col-auto">

                                <i class="fas fa-laptop fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Earnings (Monthly) Card Example -->
            <!-- <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                Completed Course</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{count[2]}}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-user-graduate fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->

            <!-- Earnings (Monthly) Card Example -->
            <!-- <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-danger shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">Non Completed Course
                            </div>
                            <div class="row no-gutters align-items-center">
                                <div class="col-auto">
                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{count[1]}}</div>
                                </div>
                                <div class="col">
                                    
                                </div>
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-book-reader fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->

            <!-- Pending Requests Card Example -->

        </div>
    </div>

    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->


        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6>

                    <div class="my-2" style="float:right;">

                        <BUTTON href="#" class="btn btn-primary btn-icon-split" data-toggle="modal"
                            data-target="#add_data_Modal">
                            <span class="icon text-white-50">
                                <i class="fas fa-envelope"></i>
                            </span>
                            <span class="text">Email</span>
                        </button>
                    </div>
                </h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <form method="post" action="">

                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">

                            <thead>
                                <tr>
                                    <th>S no</th>
                                    <th>student Name</th>
                                    <th>student Contact</th>
                                    <th>Student Email</th>


                                    <th class="action">Action</th>


                                </tr>
                            </thead>

                            <tbody>
                               {% if course!= 'error' %}
                                {% for row in course %}
                                <tr>

                                    <td>{{loop.index}}</td>
                                    <td><a name="view" value="view" id="{{row.student_id}}"
                                            class="view_student">{{row.student_name}} </a></td>
                                    <td>{{row.student_contact}}</td>
                                    <td>{{row.student_email}}</td>

                                    <td class="action"><a type="button" name="view" value="view" id="{{row.student_id}}"
                                            class="btn btn-primary btn-xs view_mail"><i
                                                class="fas fa-envelope"></i></a>&nbsp;
                                        <a type="button" name="view" value="view" id="{{row.student_id}}"
                                            class="btn btn-success btn-xs view_sms"><i class="fas fa-sms"></i></a></td>
                                </tr>
                                {% endfor %}
                            {% endif %}

                                
                            </tbody>

                        </table>
                    </form>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->


<!--Update student-->


<div id="studentModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Student Details</h4>
                <button type="button" class="close" data-dismiss="modal">×</button>

            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <form method="post" id="">
                        <table class="table table-bordered">
                            <input type="hidden" name="student_id" class="form-control" id="student_id">

                            <tr>
                                <td width="30%"><label>Student Name</label></td>
                                <td width="70%"><input type="text" name="student_name" class="form-control"
                                        id="student_name"></td>
                            </tr>
                            <tr>
                                <td width="30%"><label>Contact</label></td>
                                <td width="70%"><input type="numbers" name="student_contact" class="form-control"
                                        id="student_contact"></td>
                            </tr>
                            <tr>
                                <td width="30%"><label>E-mail</label></td>
                                <td width="70%"><input type="email" name="student_email" class="form-control"
                                        id="student_email"></td>
                            </tr>
                            <tr>
                                <td width="30%"><label>Student grade</label></td>
                                <td width="70%"><input type="numbers" name="student_grade" class="form-control"
                                        id="student_grade" disabled></td>
                            </tr>
                            <tr>
                                <td width="30%"><label>School Name</label></td>
                                <td width="70%"><input type="text" name="school_name" class="form-control"
                                        id="school_name" disabled></td>
                            </tr>
                            <tr>
                                <td width="30%"><label>School Board</label></td>
                                <td width="70%"><input type="text" name="school_board" class="form-control"
                                        id="school_board" disabled></td>
                            </tr>
                            <tr>
                                <td width="30%"><label>School Pincode</label></td>
                                <td width="70%"><input type="numbers" name="school_pincode" class="form-control"
                                        id="school_pincode" disabled></td>
                            </tr>
                            <tr>
                                <td width="30%"><label>Whatsapp No</label></td>
                                <td width="70%"><input type="numbers" name="student_whatsapp" class="form-control"
                                        id="student_whatsapp"></td>
                            </tr>
                            <tr>
                                <td width="30%"><label>Account Status</label></td>
                                <td width="70%"><input type="numbers" name="status" class="form-control"
                                        id="status"></td>
                            </tr>


                           

                        </table>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>
            <!-- update modal close -->



    </div>
    <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>





    <!-- Add Modal-->
    <div id="add_data_Modal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Send Email</h4>
                    <button type="button" class="close" onclick="fieldclear('group_email')" data-dismiss="modal">×</button>

                </div>
                <div class="modal-body">
                    <form method="post" id="group_email">

                        <label>Subject</label>
                        <input type="text" name="subject1" id="subject1" class="form-control" />
                        <br />
                        {% if course!= 'error' %}
                        <input type="text" name="course_id" id="course_id" value={{course[0]['course_id']}}  class="form-control" hidden />
                        {% endif %}



                        <label>Message</label>
                        <textarea name="message1" id="message1" class="form-control"></textarea>
                        <br />

                       
                            <label hidden>test ..!</label>
                            <input hidden type="text" class="form-control" name="groupmail" id="groupmail"></input>
                            
<!--                                    <textarea id="demo"></textarea>-->
                        



                </div>

                <div class="modal-footer">
                    <input type="submit" name="insert" id="insert" value="send" class="btn btn-success" />
                    <button type="reset" class="btn btn-default" value="Reset" onclick="fieldclear('group_email')" data-dismiss="modal">Close</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <!--Update sms modal-->


    <div id="sms" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Send SMS Individual</h4>
                    <button type="button" class="close" data-dismiss="modal">×</button>

                </div>
                <div class="modal-body">
                    <form method="post" id="">

                        <input type="hidden" class="form-control" id="sid" name="sid">

                        <label>Message</label>
                        <textarea name="msg" id="msg" class="form-control"></textarea>
                        <br />



                </div>

                <div class="modal-footer">
                    <input type="submit" name="update" id="update" value="send" class="btn btn-success" />
                    <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <!--Update table modal-->

    <div id="dataModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Send Individual Mail</h4>
                    <button type="button" class="close" onclick="fieldclear('id_stu')" data-dismiss="modal">×</button>

                </div>
                <div class="modal-body">
                    <div class="table-responsive">
                        <form method="post" id="update_form">
                            <table class="table table-bordered">
                                <input type="hidden" class="form-control" id="id_stu" name="id_stu" >
                                <tr>
                                    <td width="30%"><label>Subject</label></td>
                                    <td width="70%"><input type="text" class="form-control" name="subject" id="subject"
                                            required></td>
                                </tr>

                                <tr>
                                    <td width="30%"><label>Message</label></td>
                                    <td width="70%"><textarea type="text" class="form-control" name="message"
                                            id="message"></textarea>
                                    </td>
                                </tr>

                                <tr hidden>
                                    <td hidden width="30%"><label>test ..!</label></td>
                                    <td hidden width="70%"><input type="text" class="form-control" name="test" id="test"></input>
                                    </td>
  <!--                                    <textarea id="demo"></textarea>-->
                                </tr>
                                

                            </table>
                            <div class="modal-footer">
                                <input type="submit" name="update" id="update" value="send" class="btn btn-success" />
                                <button type="button" class="btn btn-info" onclick="fieldclear('id_stu')" data-dismiss="modal">Close</button>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>

    





    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <script>
        swal("{{message}}", "Course Deleted Successfully !", "success");
    </script>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <script type="text/javascript" src="https://cdn.ckeditor.com/4.5.11/standard/ckeditor.js"></script>
    <script>
        $(document).ready(function () {
            $('#insert_form').on("submit", function (event) {
                event.preventDefault();

                $.ajax({
                    url: "/data_entry/course",
                    method: "POST",
                    data: $('#insert_form').serialize(),
                    beforeSend: function () {
                        $('#insert').val("Inserting");
                    },
                    success: function (data) {
                        $('#add_data_Modal').modal('hide');
                        if (data == 'success') {
                            swal("Data is submitted successfully!",
                                "New Course is Created", "success");

                            var delayInMilliseconds = 6500; //1 second

                            setTimeout(function () {
                                window.location.reload();
                            }, delayInMilliseconds);

                        }
                        if (data == 'error') {
                            console.log('error')
                            swal("Data is not Submitted!",
                                "Error in submitting Data",
                                "error");
                                window.location.reload();
                        }
                    }
                });

            });

            $('#update_form').on("submit", function (event) {
                event.preventDefault();

                $.ajax({
                    url: "/data_entry/course/registerd/student_mail",
                    method: "POST",
                    data: $('#update_form').serialize(),
                    beforeSend: function () {
                        $('#update').val("sending..");
                    },
                    success: function (data) {
                        $('#add_data_Modal').modal('hide');
                        if (data == 'success') {
                            console.log('success')
                            window.location.reload();
                        }
                    }
                });

            });

               $('#group_email').on("submit", function (event) {
               console.log('hi');
                event.preventDefault();

                $.ajax({
                    url: "/data_entry/course/registerd/student_mail",
                    method: "POST",
                    data: $('#group_email').serialize(),
                    beforeSend: function () {
                        $('#update').val("sending..");
                    },
                    success: function (data) {
                        $('#add_data_Modal').modal('hide');
                        if (data == 'success') {
                            console.log('success')
                            window.location.reload();
                        }
                    }
                });

            });


            $(document).on('click', '.view_student', function () {
                var student_id = $(this).attr("id");
                $.ajax({
                    url: "/data_entry/student/select",
                    method: "POST",
                    data: {
                        student_id: student_id
                    },
                    success: function (data) {
                        $('#studentModal').modal('show');
                        var data_rs = JSON.parse(data);
                        $('#student_id').val(data_rs[0]['student_id']);
                        $('#student_name').val(data_rs[0]['student_name']);
                        $('#student_contact').val(data_rs[0]['student_contact']);
                        $('#student_email').val(data_rs[0]['student_email']);
                        $('#student_grade').val(data_rs[0]['student_grade']);
                        $('#student_whatsapp').val(data_rs[0]['student_whatsapp']);
                        $('#school_name').val(data_rs[0]['school_name']);
                        $('#school_board').val(data_rs[0]['school_board']);
                        $('#school_pincode').val(data_rs[0]['school_pincode']);
                        $('#status').val(data_rs[0]['account_status']);

                        document.getElementById("mySelect").value = data_rs[0][
                            'account_status'
                        ];

                    }
                });
            });

            $(document).on('click', '.view_mail', function () {
                var course_id = $(this).attr("id");
                $('#id_stu').val(course_id);
                // $('#subject').val(course_id);

                $('#dataModal').modal('show');
            });

            $(document).on('click', '.view_sms', function () {
                var course_id = $(this).attr("id");
                $('#sid').val(course_id);
                // $('#dataModal').modal('show');

                $('#sms').modal('show');
            });



        });

        
    </script>

    <script>
        const toCsv = function (table) {
            // Query all rows
            const rows = table.querySelectorAll('tr');

            return [].slice.call(rows)
                .map(function (row) {
                    // Query all cells
                    const cells = row.querySelectorAll('th,td');
                    return [].slice.call(cells)
                        .map(function (cell) {
                            return cell.textContent;
                        })
                        .join(',');
                })
                .join('\n');
        };
        const download = function (text, fileName) {
            const link = document.createElement('a');
            link.setAttribute('href', `data:text/csv;charset=utf-8,${encodeURIComponent(text)}`);
            link.setAttribute('download', fileName);

            link.style.display = 'none';
            document.body.appendChild(link);

            link.click();

            document.body.removeChild(link);
        };
        const table = document.getElementById('dataTable');
        const exportBtn = document.getElementById('export');

        exportBtn.addEventListener('click', function () {
            // Export to csv
            const csv = toCsv(table);

            // Download it
            download(csv, 'download.csv');
        });
    </script>

<script>
    var edit = CKEDITOR.replace( 'message1' );

edit.on( 'change', function(evt) {
// console.log(evt.editor.getData());
$('#groupmail').val(evt.editor.getData());
});
</script>
<script>
    var edit = CKEDITOR.replace( 'message' );

edit.on( 'change', function(evt) {
// console.log(evt.editor.getData());
$('#test').val(evt.editor.getData());
});
</script>


<script src="https://gitcdn.xyz/repo/FuriosoJack/TableHTMLExport/v1.0.0/src/tableHTMLExport.js"></script>


     <script>

         $(document).ready(function(){
   $(".export-btn").click(function(){
     $("#dataTable").tableHTMLExport({

      type:'csv',
      filename:'codehim-html-table-to-excel.csv',
      ignoreColumns:'.action',
    });
  });
});
     </script>


</body>

</html>