<!DOCTYPE html>
<html lang="en">
{% include 'header/data_entry_header.html' %}
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <!-- End of Sidebar -->

       

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Faculty Details</h1>
                        <!-- <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                                class="fas fa-download fa-sm text-white-50"></i> Generate Report</a> -->
                                <a  class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm export-btn" style="color: white;"><i
                                    class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
                    </div>
                            
                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">
							
							<div class="my-2" style="float:right;">
                                    <BUTTON href="#" class="btn btn-info btn-icon-split" data-toggle="modal" data-target="#add_data_Modal">
                                        <span class="icon text-white-50">
                                            <i class="fas fa-check"></i>
                                        </span>
                                        <span class="text">Add</span>
                                    </button>
                                    </div></h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <form method="post"  action="/data_entry/faculty/update" >

                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>S no</th>
                                            <th>Faculty Name</th>
											<th>Faculty E-mail</th>
                                            <th>Faculty Contact</th>
											<th class="update">Update</th>
											<th class="delete">Delete</th>
											
											
                                           
                                        </tr>
                                    </thead>
                                    
                                    <tbody>
                                         {% for row in faculty %}
                                        <tr>
                                            <td>{{loop.index}}</td>
                                            <td>{{row.faculty_name}}</td>
											<td>{{row.faculty_email}}</td>
                                            <td>{{row.faculty_contact}}</td>
											<td class="update">
											
											
                                                <a type="button" name="view" value="view" id="{{row.faculty_id}}" class="btn btn-success btn-xs view_data"><i class="fas fa-pencil-alt"></i></a>
                                                 
                                            </button>
											
											</td>
											<td class="delete">
                                                <button type="submit" class="btn btn-danger " value="{{row.faculty_id}}"
                                                name="delete" id='deletecheck' onclick="return validateForm()"><i
                                                    class="fas fa-trash"></i></button>
											
											</td>
                                       
											
											
                                          
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2020</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>


	
	
		<!-- Add Modal-->
<div id="add_data_Modal" class="modal fade">
 <div class="modal-dialog">
  <div class="modal-content">
   <div class="modal-header">
    <h4 class="modal-title">Insert Faculty</h4>
    <button type="button" class="close" data-dismiss="modal">×</button>
   
   </div>
   <div class="modal-body">
    <form method="post" id="insert_form">
	 <label>Enter Faculty Name</label>
     <input type="text" name="fname" id="name" class="form-control" />
	 <br />
	
     <label>Enter Faculty Email</label>
     <input type="mail" name="email" id="name" class="form-control" />
     <br />
	 
	 <label>Enter Faculty Contact</label>
      <input type="number" name="contact" id="address" class="form-control"/>
     <br />
     
	
     
   </div>

   <div class="modal-footer">
   <input type="submit" name="insert" id="insert" value="Insert" class="btn btn-success" />
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	 </form>
   </div>
  </div>
 </div>
</div>


   <!--Update table modal-->
	
	<div id="dataModal" class="modal fade">
 <div class="modal-dialog">
  <div class="modal-content">
   <div class="modal-header">
   <h4 class="modal-title">Faculty Details</h4>
    <button type="button" class="close" data-dismiss="modal">×</button>
    
   </div>
   <div class="modal-body">
      <div class="table-responsive">  
	  <form method="post" id="update_form">
        <table class="table table-bordered">
            <input type="hidden" class="form-control" name="faculty_id" id="faculty_id">

        <tr>  
            <td width="30%"><label>Faculty Name</label>
            <td width="70%"><input type="text" name="faculty_name" class="form-control" id="faculty_name"></td>  
        </tr>
        <tr>  
            <td width="30%"><label>Faculty Email</label> 
            <td width="70%"><input type="mail" name="faculty_email" class="form-control" id="faculty_email"></td>  
        </tr>
        <tr>  
            <td width="30%"><label>Faculty conatact</label> 
            <td width="70%"><input type="number" name="faculty_contact" class="form-control" id="faculty_contact"/></td>    
        </tr>
       
    </table>
	 <div class="modal-footer">
   <input type="submit" name="update" id="update" value="Update" class="btn btn-success" />
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	 </form>
   </div>
	
	</div>
   </div>
	
   <script src="https://gitcdn.xyz/repo/FuriosoJack/TableHTMLExport/v1.0.0/src/tableHTMLExport.js"></script>

   <script>

    $(document).ready(function(){
$(".export-btn").click(function(){
$("#dataTable").tableHTMLExport({

 type:'csv',
 filename:'Faculty.csv',
 ignoreColumns:'.update,.delete',
});
});
});
</script>
   
   <script>
    $(document).ready(function () {
        $('#insert_form').on("submit", function (event) {
            event.preventDefault();

            $.ajax({
                url: "/data_entry/faculty",
                method: "POST",
                data: $('#insert_form').serialize(),
                beforeSend: function () {
                    $('#insert').val("Inserting");
                },
                success: function (data) {
                    $('#add_data_Modal').modal('hide');
                    if (data == 'success') {
                        swal("Data is submitted successfully!",
                            "New Faculty is Created", "success");

                        var delayInMilliseconds = 6500; //1 second

                        setTimeout(function () {
                            window.location.href =
                                "/data_entry/faculty";
                        }, delayInMilliseconds);

                    }
                    if (data == 'error') {
                        console.log('error')
                        swal("Data is not Submitted!",
                            "Error in submitting Data",
                            "error");
                        window.location.href = "/data_entry/faculty";
                    }
                }
            });

        });



        $('#update_form').on("submit", function (event) {
            event.preventDefault();
         
                $.ajax({
                    url: "/data_entry/faculty/change",
                    method: "POST",
                    data: $('#update_form').serialize(),
                    beforeSend: function () {
                        $('#update').val("Updating");
                    },
                    success: function (data) {
                        $('#add_data_Modal').modal('hide');
                        if (data == 'success') {
                            console.log('success')
                            window.location.href = "/data_entry/faculty";
                        }
                    }
                });
            
        });


        $(document).on('click', '.view_data', function () {
            var faculty_id = $(this).attr("id");
            $.ajax({
                url: "/data_entry/faculty/select",
                method: "POST",
                data: {
                    faculty_id: faculty_id
                },
                success: function (data) {
                    $('#dataModal').modal('show');
                    var data_rs = JSON.parse(data);
                    $('#faculty_id').val(data_rs[0]['faculty_id']);
                    $('#faculty_name').val(data_rs[0]['faculty_name']);
                    $('#faculty_email').val(data_rs[0]['faculty_email']);
                    $('#faculty_contact').val(data_rs[0]['faculty_contact']);
                   
                }
            });
        });



    });



    
</script>
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<script>

swal("{{message}}", "Faculty Deleted Successfully !", "success");

</script>
{% endfor %}
{% endif %}
{% endwith %} 


</body>

</html>