
{% include 'header/student_header.html' %}


    <!-- all the meta tags -->
<div class="content-page">
                <div class="content">
                    <!-- BEGIN PlACE PAGE CONTENT HERE -->
                    <div class="row ">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <h4 class="page-title"> <i class="mdi mdi-apple-keyboard-command title_icon"></i> Profile
                </h4>
            </div> <!-- end card body-->
        </div> <!-- end card -->
    </div><!-- end col-->
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.10.1/dist/sweetalert2.all.min.js"></script>
<link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/sweetalert2@10.10.1/dist/sweetalert2.min.css'>

<script>
{% for mesg in get_flashed_messages() %}
      Swal.fire("{{ mesg }}");
      {% endfor %}
</script>
<div class="row ">
	<div class="col-xl-7">
		<div class="card">
			<div class="card-body">
				<h4 class="header-title mb-3">Basic Info</h4>
									  <form action="{{url_for('student_profile')}}" method="post">
                            <div class="content-box">
                                <div class="basic-group">
                                    <div class="form-group">
                                        <label for="FristName">Name</label>
                                        <input type="text" class="form-control" name = "username" id="FristName" value="{{student.student_name}}" required />
                                    </div>
                                    <div class="form-group">
                                        <label >Email</label>
                                        <input type="text" class="form-control" name = "email"  value="{{student.student_email}}" disabled required />
                                    </div>
                                    <div class="form-group">
                                        <label >Mobile No:</label>
                                        <input type="text" class="form-control" name = "mobile" value="{{student.student_contact}}"required />
                                    </div>
                                    <div class="form-group">
                                        <label >Whatsapp No:</label>
                                        <input type="text" class="form-control" name = "whatsapp"  value="{{student.student_whatsapp}}" required />
                                    </div>
                                    <div class="form-group">
                                        <label >Grade:</label>
                                        <input type="text" class="form-control" name = "mobile"  value="{{student.student_grade}}" disabled  required />
                                    </div>
                                    <div class="form-group">
                                        <label >School Name </label>
                                        <input type="text" class="form-control" name = "school_name"  value="{{school.school_name}}" disabled required />
                                    </div>
                                     <div class="form-group">
                                        <label >State </label>
                                        <input type="text" class="form-control" name = "state"  value="{{school.school_state}}" disabled required />
                                    </div>
                                </div>

                            </div>



					<div class="row justify-content-center">
						<button type="submit" class="btn btn-primary" style="background-color:SlateBlue;border-color:SlateBlue;">Update Profile</button>
					</div>
				</form>


	</div> <!-- end card body-->
</div> <!-- end card -->
</div>
<div class="col-xl-5">
	<div class="card">
		<div class="card-body">
							<form action={{url_for('change_password')}} class="form-horizontal form-groups-bordered validate" target="_top" method="post" accept-charset="utf-8">

				<div class="form-group">
					<label>New Password</label><i style="float:right;" toggle="#password" class="fa fa-fw fa-eye field-icon toggle-password"></i>
                    <input type="text" name="email" value="{{student.student_email}}" hidden/>
					<input type="password"  class="form-control" name="password" id="password" onkeyup="allpwd()" value="" required>
                    <span id="message6"></span>
				</div>
				<div class="form-group">
					<label>Confirm New Password</label>
					<input type="password" class="form-control" name="confirm_password" id="confirm_password" onkeyup='check();' value="" required="">
                    <span id="message5"></span>
				</div>
				<div class="row justify-content-center">
					<button type="submit" class="btn btn-info" id="btn btn-info" style="background-color:DodgerBlue;border-color:DodgerBlue;">Update Password</button>
				</div>
			</form>
					</div>
	</div>
</div>
</div>
                    <!-- END PLACE PAGE CONTENT HERE -->
                </div>
            </div>
            <!-- END CONTENT -->
        </div>
    </div>
    <!-- all the js files -->
    <!-- bundle -->
</body>
</html>

<!-- Dashboard chart's data is coming from this file -->

 <script type="text/javascript">
 ! function(o) {
     "use strict";
     var t = function() {
         this.$body = o("body"), this.charts = []
     };
     t.prototype.respChart = function(r, a, n, e) {
         Chart.defaults.global.defaultFontColor = "#8391a2", Chart.defaults.scale.gridLines.color = "#8391a2";
         var i = r.get(0).getContext("2d"),
             s = o(r).parent();
         return function() {
             var t;
             switch (r.attr("width", o(s).width()), a) {
                 case "Line":
                     t = new Chart(i, {
                         type: "line",
                         data: n,
                         options: e
                     });
                     break;
                 case "Doughnut":
                     t = new Chart(i, {
                         type: "doughnut",
                         data: n,
                         options: e
                     })
             }
             return t
         }()
     }, t.prototype.initCharts = function() {
         var t = [];
         if (0 < o("#task-area-chart").length) {
             t.push(this.respChart(o("#task-area-chart"), "Line", {
                 labels: [
                                          "January",
                                        "February",
                                        "March",
                                        "April",
                                        "May",
                                        "June",
                                        "July",
                                        "August",
                                        "September",
                                        "October",
                                        "November",
                                        "December",
                                     ],
                 datasets: [{
                     label: "This Year",
                     backgroundColor: "rgba(114, 124, 245, 0.3)",
                     borderColor: "#727cf5",
                     data: [
                                                 "0",
                                                "0",
                                                "0",
                                                "0",
                                                "0",
                                                "0",
                                                "0",
                                                "0",
                                                "0",
                                                "0",
                                                "0",
                                                "0",
                                             ]
                 }]
             }, {
                 maintainAspectRatio: !1,
                 legend: {
                     display: !1
                 },
                 tooltips: {
                     intersect: !1
                 },
                 hover: {
                     intersect: !0
                 },
                 plugins: {
                     filler: {
                         propagate: !1
                     }
                 },
                 scales: {
                     xAxes: [{
                         reverse: !0,
                         gridLines: {
                             color: "rgba(0,0,0,0.05)"
                         }
                     }],
                     yAxes: [{
                         ticks: {
                             stepSize: 10,
                             display: !1
                         },
                         min: 10,
                         max: 100,
                         display: !0,
                         borderDash: [5, 5],
                         gridLines: {
                             color: "rgba(0,0,0,0)",
                             fontColor: "#fff"
                         }
                     }]
                 }
             }))
         }
         if (0 < o("#project-status-chart").length) {
             t.push(this.respChart(o("#project-status-chart"), "Doughnut", {
                 labels: ["Active Course", "Pending Course"],
                 datasets: [{
                     data: [0, 0],
                     backgroundColor: ["#0acf97", "#FFC107"],
                     borderColor: "transparent",
                     borderWidth: "2"
                 }]
             }, {
                 maintainAspectRatio: !1,
                 cutoutPercentage: 80,
                 legend: {
                     display: !1
                 }
             }))
         }
         return t
     }, t.prototype.init = function() {
         var r = this;
         Chart.defaults.global.defaultFontFamily = '-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif', r.charts = this.initCharts(), o(window).on("resize", function(t) {
             o.each(r.charts, function(t, r) {
                 try {
                     r.destroy()
                 } catch (t) {}
             }), r.charts = r.initCharts()
         })
     }, o.ChartJs = new t, o.ChartJs.Constructor = t
 }(window.jQuery),
 function(t) {
     "use strict";
     window.jQuery.ChartJs.init()
 }();

 </script>

<script type="text/javascript">
  $(document).ready(function() {
    $(function() {
       $('.icon-picker').iconpicker();
     });
  });
</script>

<!-- Toastr and alert notifications scripts -->
<script type="text/javascript">
function notify(message) {
  $.NotificationApp.send("Heads Up!", message ,"top-right","rgba(0,0,0,0.2)","info");
}

function success_notify(message) {
  $.NotificationApp.send("Congratulations!", message ,"top-right","rgba(0,0,0,0.2)","success");
}

function error_notify(message) {
  $.NotificationApp.send("Oh Snap!", message ,"top-right","rgba(0,0,0,0.2)","error");
}

function error_required_field() {
  $.NotificationApp.send("Oh Snap!", "Please Fill All The Required Fields" ,"top-right","rgba(0,0,0,0.2)","error");
}
</script>

<script>
         function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#blah')
                        .attr('src', e.target.result);
                };

                reader.readAsDataURL(input.files[0]);
            }
        }
</script>
<script>
	$(".toggle-password").click(function() {

  $(this).toggleClass("fa-eye fa-eye-slash");
  var input = $($(this).attr("toggle"));
  if (input.attr("type") == "password") {
    input.attr("type", "text");
  } else {
    input.attr("type", "password");
  }
});
</script>

<div class="jq-toast-wrap top-right"><div class="jq-toast-single jq-has-icon jq-icon-success" style="text-align: left; display: none;"><span class="jq-toast-loader jq-toast-loaded" style="-webkit-transition: width 2.6s ease-in;                       -o-transition: width 2.6s ease-in;                       transition: width 2.6s ease-in;                       background-color: rgba(0,0,0,0.2);"></span><span class="close-jq-toast-single">×</span><h2 class="jq-toast-heading">Congratulations!</h2>Welcom admin admin</div></div>
    <script type="text/javascript">
function showAjaxModal(url, header)
{
    // SHOWING AJAX PRELOADER IMAGE
    jQuery('#scrollable-modal .modal-body').html('<div style="text-align:center;margin-top:200px;"><img src="http://localhost/Online_Learning_Management_System/assets/global/bg-pattern-light.svg" /></div>');
    jQuery('#scrollable-modal .modal-title').html('...');
    // LOADING THE AJAX MODAL
    jQuery('#scrollable-modal').modal('show', {backdrop: 'true'});

    // SHOW AJAX RESPONSE ON REQUEST SUCCESS
    $.ajax({
        url: url,
        success: function(response)
        {
            jQuery('#scrollable-modal .modal-body').html(response);
            jQuery('#scrollable-modal .modal-title').html(header);
        }
    });
}
function showLargeModal(url, header)
{
    // SHOWING AJAX PRELOADER IMAGE
    jQuery('#large-modal .modal-body').html('<div style="text-align:center;margin-top:200px;"><img src="http://localhost/Online_Learning_Management_System/assets/global/bg-pattern-light.svg" height = "50px" /></div>');
    jQuery('#large-modal .modal-title').html('...');
    // LOADING THE AJAX MODAL
    jQuery('#large-modal').modal('show', {backdrop: 'true'});

    // SHOW AJAX RESPONSE ON REQUEST SUCCESS
    $.ajax({
        url: url,
        success: function(response)
        {
            jQuery('#large-modal .modal-body').html(response);
            jQuery('#large-modal .modal-title').html(header);
        }
    });
}
</script>
<script>
function allpwd()
      {
	  var inputpwd = document.getElementById('password');

      var pwd = /^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9]).{8,12}$/;
      if(inputpwd.value.match(pwd))
      {

	   document.getElementById('message6').innerHTML = '';
	    document.getElementById('btn btn-info').disabled = true;

      }
      else
      {
	  document.getElementById('message6').style.color = 'red';

	   document.getElementById('message6').innerHTML = 'Password must contain minimum 8 characters with 1 lowercase,uppercase and number';
      document.getElementById('btn btn-info').disabled = true;
      }
      }
</script>
  <script>
    var check = function () {
    var inputpwd = document.getElementById('password');

      var pwd = /^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9]).{8,12}$/;

      if (document.getElementById('password').value ==
        document.getElementById('confirm_password').value    && document.getElementById('password').value!=null ) {
        document.getElementById('message5').style.color = 'green';
        document.getElementById('message5').innerHTML = 'Password matching';
      } else {
        document.getElementById('message5').style.color = 'red';
        document.getElementById('message5').innerHTML = 'Password not matching';
      }
      if (document.getElementById('password').value ==
        document.getElementById('confirm_password').value  && inputpwd.value.match(pwd)) {
        document.getElementById('btn btn-info').disabled = false;
      } else {
        document.getElementById('btn btn-info').disabled = true;
      }
    }


  </script>


</body></html>